asgiref
autopep8
django==2.2.10
pycodestyle
pytz
sqlparse
Unipath
dj-database-url
python-decouple
gunicorn
whitenoise
mysqlclient
django-widget-tweaks
rest_framework
djangorestframework
django-rest-auth
django-allauth
unipath
python-decouple
django-cors-headers
django-crispy-forms
django-bootstrap-form
bootstrap4
