{% extends "layouts/base.html" %}

{% block title %} Liste des sms {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}



    <table class="table table-dark table-striped" id="table" style="width:100% !important; font-size:12px; height:inherit;">
        <thead>
        <tr class="bg-success">

            <th>ID</th>
            <th>SMS</th>
            <th>Tel envoyeur</th>
            <th>Date</th>
            <th>Erreurs</th>
            <th>Delegué</th>
        </tr>
        </thead>
        <tbody>
        <body>
        {% for s in sms %}
        <tr>

        <td>{{ s.id }}</td>
        <td>{{ s.sms }}</td>
            <td>{<div style="overflow:auto; width:100px">{{ s.sender_phone }}</div></td>
        <td>{{ s.created_at }}</td>
        <td>{{ s.errorMessage }}</td>
        <td>{{ s.delegate_phone }}</td>

        </tr>
        {% empty %}
        <tr>
            <td colspan="7" class="text-center bg-warning">Zero localité enrégistré</td>
        </tr>
        {% endfor %}
        </body>
        </tbody>
    </table>

    <div class="pagination">
        <span class="step-links">
            {% if sms.has_previous %}
                <a href="?page=1">&laquo; first</a>
                <a href="?page={{ sms.previous_page_number }}">previous</a>
            {% endif %}

            <span class="current">
                Page {{ sms.number }} of {{ sms.paginator.num_pages }}.
            </span>

            {% if data.has_next %}
                <a href="?page={{ sms.next_page_number }}">next</a>
                <a href="?page={{ sms.paginator.num_pages }}"> &raquo;</a>
            {% endif %}
        </span>
    </div>

<div class="modal fade" id="modal">
    <div class="modal-dialog">
        <div class="modal-content">
        </div>
    </div>
</div>

{% endblock content %}


<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
<script src="/static/assets/js/sms/sms.js"></script>
{% endblock javascripts %}


