{% load widget_tweaks %}

<form method="post" action="{% url 'minute_create' %}" class="js-create-form" enctype="multipart/form-data">
  {% csrf_token %}
  <div class="modal-header">
    <h4 class="modal-title">Céer un PV</h4>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close" aria-hidden="true">&times;</button>
  </div>
  {% for hidden in form.hidden_fields %}
  {{ hidden }}
  {% endfor %}
  <div class="modal-body">

    {% for field in form.visible_fields %}
    {% if field.name != 'image' %}
    <div class="form-group{% if field.errors %} has-error{% endif %}">
      <label for="{{ field.id_for_label }}">{{ field.label }}</label>
      {% render_field field class="form-control" %}
      {% for error in field.errors %}
      <p class="help-block">{{ error }}</p>
      {% endfor %}
    </div>

    {% else %}
    <div class="file-field">
      <div class="btn btn-primary btn-sm btn-block">
        <label for="{{ field.id_for_label }}">Selectionner le PV</label>
        <input id="{{ field.id_for_label }}" for ="{{ field.id_for_label }}" type="file" name="{{ field.html_name }}"  >
      </div>
    </div>
    {% endif %}
    {% endfor %}

    <div class="row" id="dynamic_form">
      <div class="form-group form-horizontal col-md-12">
        <label class="control-label"></label>
        <label class="control-label"></label>
        <div class="form-inline">
          <select class="input-small form-control" id="primitive-selector" name="PrimitiveChoose[]">
            <option value=" " disabled="" selected="">Parti Politique</option>
            <option value="ufdg">UFDG</option>
            <option value="rpg">RPG</option>
          </select>
          <input type="number" class="input-small form-control" id="vote" name="vote[]" step="any" placeholder="Votes obtenues">
          <button type="button" class="btn btn-info btn-sm btn-add" id="add_more">
            <i  class="fa fa-plus icon-large"></i>
          </button>
        </div>
      </div>
    </div>

  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
    <button type="submit" class="btn btn-primary">Créer</button>
  </div>
</form>
