
{% for field in data %}
<tr>

    <td>{{ field.election_id }}</td>
    <td>{{ field.get_user_type_display }}</td>
    <td>{{ field.get_pulling_type_display }}</td>
    <td>{{ field.nbr_registrants }}</td>
    <td>{{ field.nbr_voters}}</td>
    <td>{{ field.nbr_invalids_ballots }}</td>
    <td>{{ field.nbr_votes_cast }}</td>
    <td>{{ field.created_at }}</td>
    <td>
        <div class="btn-group" >
            {% if field.image %}
            <a  type="button" id ="imageresource" src="{{ field.image.url }}"
                class="btn btn-primary btn-sm"
                data-toggle="modal" data-target="#imagemodal" title="Voir ce PV">
                <i id="pop" class="fa fa-eye icon-large"></i>
            </a>
            {% endif %}
            <a type="button"
               class="btn btn-warning btn-sm js-update"
               data-url="{% url 'minute_update' field.id %}" title="Modifier ce PV">
                <i class="fa fa-edit icon-large"></i>
            </a>
            <a type="button"
               class="btn btn-danger btn-sm js-delete"
               data-url="{% url 'minute_delete' field.id %}" title="Supprimer ce PV">
                <i class="fa fa-trash icon-large"></i>
            </a>
        </div>
    </td>

</tr>
{% empty %}
<div class="btn btn-warning btn-sm btn-block">
    <span>Zero PV enrégistré</span>
</div>
{% endfor %}
