
{% for field in data %}
<tr>

    <td>{{ field.election_id }}</td>
    <td>{{ field.get_user_type_display }}</td>
    <td>{{ field.get_pulling_type_display }}</td>
    <td>{{ field.nbr_registrants }}</td>
    <td>{{ field.nbr_voters}}</td>
    <td>{{ field.nbr_invalids_ballots }}</td>
    <td>{{ field.nbr_votes_cast }}</td>
    <td>{{ field.created_at }}</td>
    <td>{{ field.image_url }}</td>
    <td>
        <button type="button"
                class="btn btn-warning btn-sm js-update"
                data-url="{% url 'minute_update' field.id %}">
            <span class="glyphicon glyphicon-pencil"></span> Modifier
        </button>
        <button type="button"
                class="btn btn-danger btn-sm js-delete"
                data-url="{% url 'minute_delete' field.id %}">
            <span class="glyphicon glyphicon-trash"></span> Supprimer
        </button>
    </td>

</tr>
{% empty %}
<div class="btn btn-warning btn-sm btn-block">
    <span>Zero PV enrégistré</span>
</div>
{% endfor %}
