{% extends "layouts/base.html" %}

{% block title %} Table des PVs {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}

{% endblock stylesheets %}

{% block content %}
<p>
    <button type="button" class="btn btn-primary js-create" data-url="{% url 'minute_create' %}">
        <span class="glyphicon glyphicon-plus"></span>
        Ajouter un PV
    </button>
</p>
<table class="table" id="table">
    <thead>
    <tr>
        <th>Election</th>
        <th>Centralisateur</th>
        <th>N° du bureau de vote</th>
        <th>Nombre d'inscrits</th>
        <th>Nombre de votants</th>
        <th>Bulletins nuls</th>
        <th>Suffrage exprimé</th>
        <th>Date de creation</th>
        <th>Photo du PV</th>
        <th>Action</th>

    </tr>
    </thead>
    <tbody>
    <body>
    {% for field in data %}
    <tr>
        <td>{{ field.election.name }}</td>
        <td>{{ field.user.first_name }} {{ field.user.last_name }}</td>
        <td>{{ field.polling.name }}</td>
        <td>{{ field.nbr_registrants }}</td>
        <td>{{ field.nbr_voters}}</td>
        <td>{{ field.nbr_invalids_ballots }}</td>
        <td>{{ field.nbr_votes_cast }}</td>
        <td>{{ field.created_at }}</td>
        <td>
          <img src="{{ field.polling.image_file.url}}" >
        </td>
        <td>
            <button type="button"
                    class="btn btn-warning btn-sm js-update"
                    data-url="{% url 'minute_update' field.id %}">
                <span class="glyphicon glyphicon-pencil"></span> Editer
            </button>
            <button type="button"
                    class="btn btn-danger btn-sm js-delete"
                    data-url="{% url 'minute_delete' field.id %}">
                <span class="glyphicon glyphicon-trash"></span> Supprimer
            </button>
        </td>

    </tr>
    {% empty %}
    <tr>
        <td class="text-center bg-warning btn-block">Zero PV enrégistré</td>
    </tr>
    {% endfor %}
    </body>
    </tbody>
</table>
<div class="modal fade" id="modal">
    <div class="modal-dialog">
        <div class="modal-content">
        </div>
    </div>
</div>
{% endblock content %}


<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
<script src="/static/assets/js/minute/minute.js"></script>
{% endblock javascripts %}
