{% extends "layouts/base.html" %}

{% block title %} Dashboard {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

<div class="row">
  <div class="col-lg-4 col-md-6 col-sm-6">
    <div class="card card-stats">
      <div class="card-header card-header-info card-header-icon">
        <div class="card-icon">
          <i class="material-icons">people</i>
        </div>
        <p class="card-category">Nombre d'electeurs</p>
        <h3 class="card-title">5 410 089</h3>
      </div>

    </div>
  </div>
  <div class="col-lg-4 col-md-6 col-sm-6">
    <div class="card card-stats">
      <div class="card-header card-header-primary card-header-icon">
        <div class="card-icon">
          <i class="material-icons">how_to_vote</i>
        </div>
        <p class="card-category">Nombre de votants</p>
        <h3 class="card-title">{{ nbr_registrants.nbr_registrants__sum }}</h3>
      </div>

    </div>
  </div>
  <div class="col-lg-4 col-md-6 col-sm-6">
    <div class="card card-stats">
      <div class="card-header card-header-success card-header-icon">
        <div class="card-icon">
          <i class="material-icons">how_to_vote</i>
        </div>
        <p class="card-category">Suffrage exprimé</p>
        <h3 class="card-title">{{ nbr_voters.nbr_voters__sum }}</h3>
      </div>

    </div>
  </div>


</div>

<div class="row">
  <div class="col-lg-4 col-md-6 col-sm-6">
    <div class="card card-stats">
      <div class="card-header card-header-danger card-header-icon">
        <div class="card-icon">
          <i class="material-icons">how_to_vote</i>
        </div>
        <p class="card-category">Bulletins nulls</p>
        <h3 class="card-title">{{ nbr_invalids_ballots.nbr_invalids_ballots__sum }}</h3>
      </div>

    </div>
  </div>
  <div class="col-lg-4 col-md-6 col-sm-6">
    <div class="card card-stats">
      <div class="card-header card-header-info card-header-icon">
        <div class="card-icon">
          <i class="material-icons">store</i>
        </div>
        <p class="card-category">Total de bureau de vote</p>
        <h3 class="card-title">{{ nbr_votes_cast.nbr_votes_cast__sum }}</h3>
      </div>

    </div>
  </div>

 <div class="col-lg-4 col-md-6 col-sm-6">
    <div class="card card-stats">
      <div class="card-header card-header-info card-header-icon">
        <div class="card-icon">
          <i class="material-icons">store</i>
        </div>
        <p class="card-category">Total PVs collectés</p>
        <h3 class="card-title">{{ nbr_pvs_collected }}</h3>
      </div>

    </div>
  </div>


</div>

<div class="row">
  <table class="table table-dark table-striped" id="table">
    <thead>
    <tr  class="bg-success">
      <th>Parti </th>
      <th>Votes obtenues</th>

    </tr>
    </thead>
    <tbody>
    <body>
    {% for field in votes_by_party %}
    <tr>
      <td><li>{{ field.name }}</li></td>
      <td>{{ field.nbr_votes_obtained }} </td>
    </tr>

    {% empty %}
    <tr>
      <div class="text-center bg-warning btn-block">Zero parti enregistré</div>
    </tr>
    {% endfor %}
    </body>
    </tbody>
  </table>
</div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

<script>
    $(document).ready(function() {
      // Javascript method's body can be found in assets/js/demos.js
      md.initDashboardPageCharts();

    });
  </script>

{% endblock javascripts %}
