
{% for u in users %}
<tr>

    <td>{{ u.id }}</td>
    <td>{{ u.first_name }}</td>
    <td>{{ f.last_name }}</td>
    <td>{{ f.is_staff }}</td>
    <td>{{ f.is_superviser }}</td>
    <td>
        <a type="button"
           class="btn btn-warning btn-sm js-update"
           data-url="{% url 'user_update' u.id %}" title="Modifier ce PV">
            <i class="fa fa-edit icon-large"></i>
        </a>
    </td>
</tr>
{% empty %}
<tr>
    <td colspan="7" class="text-center bg-warning">Zero user enrégistré</td>
</tr>
{% endfor %}
