{% extends "layouts/base.html" %}

{% block title %} Liste des localités {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
<p>
    <a type="button" class="btn btn-outline-success js-create" data-url="{% url 'user_create' %}">
        <span class="glyphicon glyphicon-plus"></span>
        Ajouter un user
    </a>
</p>
<table class="table table-dark table-striped" id="table">
    <thead>
    <tr class="bg-success">
        <th>ID</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Is Staff</th>
        <th>Superviseur</th>
    </tr>
    </thead>
    <tbody>
    <body>
    {% for u in users %}
    <tr>

        <td>{{ u.id }}</td>
        <td>{{ u.first_name }}</td>
        <td>{{ f.last_name }}</td>
        <td>{{ f.is_staff }}</td>
        <td>{{ f.is_superviser }}</td>
        <td>
            <a type="button"
               class="btn btn-warning btn-sm js-update"
               data-url="{% url 'user_update' f.id %}" title="Modifier">
                <i class="fa fa-edit icon-large"></i>
            </a>

        </td>

    </tr>
    {% empty %}
    <tr>
        <td colspan="7" class="text-center bg-warning">Zero localité enrégistré</td>
    </tr>
    {% endfor %}
    </body>
    </tbody>
</table>

<div class="pagination">
    <span class="step-links">
        {% if users.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ users.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ users.number }} of {{ users.paginator.num_pages }}.
        </span>

        {% if data.has_next %}
            <a href="?page={{ users.next_page_number }}">next</a>
            <a href="?page={{ users.paginator.num_pages }}"> &raquo;</a>
        {% endif %}
    </span>
</div>

<div class="modal fade" id="modal">
    <div class="modal-dialog">
        <div class="modal-content">
        </div>
    </div>
</div>
{% endblock content %}


<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
<script src="/static/assets/js/user/users.js"></script>
{% endblock javascripts %}
